.navigation {
  display: flex;
  position: fixed;
  bottom: 10px;
  height: 30px;
  width: 280px;
  background-color: rgb(247, 161, 152);
  border-radius: var(--border-radius);
  justify-self: center;
  justify-content: space-between;
}

.navigation__pagination {
  align-self: center;
}


/*
display: grid;
  grid-template-columns: 100px 100px 100px;
  .navigation__pagination {
  place-items: center;
}
  */
