.search-bar-container {
  width: 300px;
  margin: 0 auto;
}

.search-bar {
  padding: 10px 20px;
  background-color: darkgreen;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 24px;
}

.search-bar__input {
  background-color: transparent;
  border: none;
  color: white;
}

.search-bar__input::placeholder {
  color: rgb(195, 197, 194);
}

.search-bar__button {
  border: none;
  background-color: transparent;
}

.search-bar__input:focus {
  outline: none;
}

.search-bar__icon {
  width: 20px;
}
